---
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<ul>
    {
        posts.map((p) => (
            <li>
                <a href={`/posts/${p.slug}`}>{p.data.title}</a>
            </li>
        ))
    }
</ul>
