---

---

<header class='content-grid'>
  <nav class='wide'>
    <ul><li><a href='/'>Thomas McInnis</a></li></ul>
  </nav>
</header>

<style>
  ul {
    list-style: none;
    padding-inline-start: 0;
  }

  li a {
    border-color: transparent;

    &:hover {
      border-color: hsl(var(--accent));
    }
  }
</style>
